.btn{
   
    border-width: 2px;
    border-radius: 3px;
    border-radius: solid;
    padding: 8px;
    color:black;
    border:2px solid grey;
    background-color:transparent;
    font-family: 'Courier New', Courier, monospace;
}
input[type="text"]{
    width: 80%;
    border: 2px solid grey;
    border-radius: 3px;
    margin-right: 10px;
    padding: 5px;
    line-height: 17px;
    font-family: 'Courier New', Courier, monospace;
    
}
input[type="text"]:focus{
border: 3px solid green;
}

input.completeTodo {
    margin-right: 22px;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    
}

