.todoWrapper{
    text-align:left;
    margin-bottom: 10px;

}
.removeTodo{
    border-width: 2px;
    border-radius: 3px;
    border-radius: solid;
    padding: 8px;
    color:black;
    border:2px solid grey;
    background-color:transparent;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 25px;
}
.edit{
float: left
}
input.edit-input {
    margin: 9px;
}